#root {
  display: flex;
  min-height: 100vh; 
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header, footer {
  display: flex;
  justify-content: center;
}

footer {
  padding: 2rem;
}

.main-body {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main {
  display: flex;
  flex-grow: 1;
}

.nav-list {
  font-size: larger;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline-start: 50px;
}

.pdf-wrapper {
  > iframe {
    width: 50vw;
    height: 70vh;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 4rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

input {
  border: none;        
  border-bottom: 2px solid grey; 
  outline: none;         
  background: transparent;
  padding: 5px;         
  width: 100%;           
  font-size: 16px;       
}

input:focus {
  border-bottom: 2px solid #535bf2; 
}